.menu{
    
}
.menuSx{
    float: left;
    margin-left: 10px;
}
.menuDx{
    float: right;
    margin-right: 10px;
}
.menu > a{
    color: white;
}
.menu > a:hover{
    color: activeborder;
}
.searchCategoria{
    border-right-width: 0px;
    border-radius: 7px 0px 0px 7px;
    width: 130px;
    height: 30px;
}
.searchBar{
    border-width: 1px;
    border-right-width: 0px;
    border-left-width: 0px;
    //border-radius: 7px 0px 0px 7px;
    width: 230px;
    height: 30px;
    //font-weight: 800;
}
.searchButton{
    border-radius: 0px 7px 7px 0px;
    border-left-width: 0px;
    height: 30px;
}